.certificate {
  &__title {
    margin: -24px 0 32px;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: var(--text-1);

    @include laptop {
      margin-top: 1px;
      font-size: 32px;
    }

    @include laptop-min {
      max-width: 650px;
    }
  }

  &-form {
    &__container {
      padding: 40px;
      background-color: #fff;

      @include laptop-min {
        padding: 40px 24px;
      }

      @include mobile {
        padding: 40px 20px;
      }
    }

    &__wrapper {
      display: flex;
      border-top: 1px solid rgb(174 153 141 / 40%);
      padding-top: 24px;
      gap: 104px;

      @include laptop {
        justify-content: space-between;
        gap: 0;
      }

      @include laptop-min {
        padding-top: 16px;
      }

      @include tablet {
        flex-wrap: wrap;
      }
    }

    &__image {
      width: 376px;
      height: 456px;

      img {
        width: 100%;
        height: 100%;
      }

      @include desktop {
        width: auto;
        height: 405px;
      }

      @include tablet {
        margin-bottom: 32px;
        width: 100%;
        height: auto;
      }
    }

    &__content {
      max-width: 568px;

      @include laptop-min {
        max-width: 352px;
      }

      @include tablet {
        max-width: none;
      }
    }

    &__subtitle {
      margin: 0 0 16px;
      font-weight: 500;
      font-size: 32px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--text-1);

      @include laptop-min {
        margin-bottom: 8px;
        font-size: 24px;
      }
    }

    &__desc {
      margin: 0 0 40px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--text-2);

      @include laptop-min {
        margin-bottom: 24px;
        font-size: 14px;
      }

      @include mobile {
        margin-bottom: 32px;
      }
    }

    &__form {
      max-width: 480px;

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-bottom: 16px;
        gap: 16px;

        @include laptop-min {
          gap: 12px;
        }
      }

      &-item {
        flex: 0 1 100%;
        max-width: 100%;

        input {
          height: 48px;
        }
      }

      &-btn {
        flex-basis: 100%;
        height: 48px;
      }

      &-content {
        margin: 0;
        color: var(--text-4);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;

        @include laptop-min {
          font-size: 12px;
        }
      }

      @include tablet {
        max-width: none;
      }
    }
  }

  &-desc {
    &__wrapper {
      padding-top: 104px;
      padding-bottom: 104px;
      justify-content: flex-start;
      gap: 104px;

      @include laptop-min {
        gap: 0;
      }

      @include mobile {
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }

    &__title {
      max-width: 416px;
      margin-left: -30px;

      @include desktop {
        margin-left: 0;
        margin-bottom: 32px;
      }
    }

    &__content {
      &-wrapper {
        max-width: 712px;

        ol {
          list-style-position: inside;
          padding-left: 0;

          @include desktop {
            max-width: 100%;
          }
        }

        ol li {
          &:not(:last-child) {
            margin-bottom: 24px;
          }

          p {
            display: inline;
            margin: 0;
          }

          ul {
            list-style: outside;
            list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='7' viewBox='0px 0px 2 2' fill='none'%3E%3Ccircle cx='1' cy='1' r='1' transform='matrix(1 0 0 -1 0 2)' fill='black'/%3E%3C/svg%3E");
            margin: 0;
            padding-left: 25px;
          }

          ul li {
            &:not(:last-child) {
              margin-bottom: 0;
            }
          }
        }

        @include desktop {
          max-width: 100%;
        }
      }
    }
  }
}
