.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 16px 0;
  background-color: #fff;

  &__container {
    @include flex-between;
  }

  &__logo {
    display: block;
    width: 105px;

    @include laptop-min {
      width: 80px;
    }

    @include mobile {
      width: 65px;
    }
  }

  &__logo-img {
    width: 100%;
    height: auto;
  }

  &__right {
    @include laptop-min {
      display: flex;
      column-gap: 30px;
      align-items: center;
    }
  }

  &__contacts {
    display: flex;
    column-gap: 40px;
    justify-content: right;
    margin-bottom: 24px;

    li,
    a {
      display: flex;
      column-gap: 8px;
      align-items: center;
      font-size: 14px;
      line-height: 120%;
      color: var(--text-2);
    }

    a {
      transition: color 0.2s ease;

      @include hover {
        color: var(--beige);
      }
    }

    @include desktop {
      column-gap: 30px;
    }

    @include laptop {
      column-gap: 15px;

      li,
      a {
        font-size: 13px;
      }
    }

    @include laptop-min {
      column-gap: 24px;
      margin-bottom: 0;

      li {
        &:first-child,
        &:nth-child(2) {
          display: none;
        }
      }

      li,
      a {
        span {
          display: none;
        }
      }
    }

    @include mobile {
      column-gap: 16px;
    }
  }

  &__contacts-icon {
    width: 16px;
    height: 16px;
    color: var(--beige);

    @include laptop-min {
      width: 32px;
      height: 32px;
    }

    @include mobile {
      width: 24px;
      height: 24px;
    }
  }

  &__nav-btn {
    @include flex-center;

    right: 25px;
    top: 20px;
    display: none;
    border: 2px solid var(--beige);
    width: 40px;
    height: 40px;
    background-color: #fff;

    &--close {
      position: fixed;
      z-index: 120;
    }

    @include laptop-min {
      display: flex;
    }

    @include mobile {
      width: 32px;
      height: 32px;

      &--close {
        right: 20px;
        top: 14px;
        transform: translateY(-52px);
        transition: transform 0.5s ease;

        &.active {
          transform: translateY(0);
        }
      }
    }
  }

  &__nav-btn-icon {
    width: 24px;
    height: 24px;

    @include mobile {
      width: 16px;
      height: 16px;
    }
  }

  &__overlay {
    @include mobile {
      display: none;
    }
  }

  &__nav {
    @include laptop-min {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 110;
      overflow-y: auto;
      padding: 90px 64px 64px;
      width: 100%;
      max-width: 440px;
      background-color: #fff;
      transform: translateX(440px);
      transition: transform 0.5s ease;

      &.open {
        transform: translateX(0);
      }
    }

    @include mobile {
      left: 0;
      top: 60px;
      padding: 32px 20px;
      max-width: none;
      transform: translateX(-100vw);
    }
  }

  &__nav-list {
    display: flex;
    column-gap: 40px;
    justify-content: right;

    li {
      &:last-child {
        // добавляем бордер снизу у последнего элемента
        a::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -6px;
          height: 2px;
          background-color: var(--beige);
        }
      }
    }

    button,
    a {
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      text-transform: uppercase;
      transition: color 0.2s ease;

      &.active {
        color: var(--beige);
      }

      @include hover {
        color: var(--beige);
      }
    }

    @include laptop {
      column-gap: 25px;
    }

    @include laptop-min {
      flex-direction: column;
      row-gap: 40px;

      button,
      a {
        font-size: 16px;
        line-height: 120%;
      }
    }

    @include mobile {
      row-gap: 32px;
    }
  }

  &__dropdown-list {
    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      // убираем бордер снизу у последнего элемента
      &:last-child {
        a::before {
          display: none;
        }
      }
    }

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      white-space: nowrap;
      text-transform: none;
    }
  }

  &__dropdown-btn-stroke {
    position: relative;
    display: inline-block;
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    transition: color 0.2s ease;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -6px;
      height: 2px;
      background-color: var(--beige);
    }
  }

  @include mobile {
    padding: 8px 0;
  }
}
