.location {
  position: relative;
  background-color: #fff;

  &__desc {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 416px;

    @include laptop-min {
      padding-top: 64px;
      padding-bottom: 64px;
      max-width: 100%;
    }

    @include mobile {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  }

  &__title {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--text-1);

    @include laptop-min {
      margin-bottom: 32px;
      font-size: 14px;
    }
  }

  &__icon {
    margin-right: 8px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;

    &-title {
      position: relative;
      display: inline-block;
      margin: 0 0 12px;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: var(--text-1);

      @include laptop-min {
        font-size: 18px;
      }
    }

    li {
      @include desktop {
        max-width: 352px;
      }

      @include tablet {
        max-width: 100%;
      }
    }

    &-desc {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--text-2);

      @include laptop-min {
        font-size: 14px;
      }
    }

    @include laptop-min {
      flex-direction: row;
      gap: 16px;
    }

    @include tablet {
      flex-wrap: wrap;
      gap: 32px;
    }
  }

  &__map {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 855px;

    @include desktop {
      width: 640px;
    }

    @include laptop {
      width: 540px;
    }

    @include laptop-min {
      position: static;
      width: 100vw;
      height: 560px;
    }

    @include tablet {
      height: 400px;
    }

    @include mobile {
      height: 320px;
    }
  }

  @include desktop {
    flex-wrap: wrap;
  }
}
