.body-hidden {
  overflow: hidden;
  touch-action: none;
}

.body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-1);
  background-color: var(--bg-color);
}

.main {
  padding-top: 140px;

  @include laptop-min {
    padding-top: 120px;
  }

  @include mobile {
    padding-top: 100px;
  }
}
