<section class="error">
  <div class="container error__container">
    <div class="record__body error__body">
      <img
        src="@img/pictures/error.jpg"
        alt="Изображение"
        width="1230"
        height="400"
        class="record__bg"
      />
      <h2 class="title-2 record__title">страница не найдена</h2>
      <div class="record__info">
        <p class="record__content error__content">
          К сожалению, запрашиваемая страница не найдена. Возможно, вы перешли по ссылке, в которой была допущена ошибка, или ресурс был удален.
        </p>
        <button type="submit" class="btn btn-primary footer__form-btn error__btn">вернуться на главную</button>
      </div>
    </div>
  </div>
</section>