<section class="about">
  <div class="container">
    <div class="about__header">
      <h2 class="title-2 about__title">О центре</h2>
      <div class="about__header-wrapper">
        <p class="about__content-main">
          Бенуа Медикал Спа находится в одном из самых красивых мест Санкт-Петербурга — знаменитом
          Доме Бенуа на Петроградке
        </p>
        <p class="about__content">
          В нашем центре представлен широкий спектр услуг для вашей красоты и здоровья: медицинская
          и эстетическая косметология, лазерная эпиляция, аппаратные методики омоложения, уход
          за стопами у подолога, уникальные техники массажа для здоровья и коррекции фигуры,
          спа-терапия и другие программы по уходу за лицом и телом. <br />
          <br />
          А также перманентный макияж, парикмахерские услуги, ногтевой сервис, наращивание ресниц
          и архитектура бровей.
        </p>
      </div>
    </div>
    <div class="swiper about__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide about__slide">
          <img
            src="@img/pictures/about.jpg"
            alt="Изображение"
            width="815"
            height="504"
            class="about__slide-img"
          />
        </div>
        <div class="swiper-slide about__slide">
          <img
            src="@img/pictures/about.jpg"
            alt="Изображение"
            width="815"
            height="504"
            class="about__slide-img"
          />
        </div>
        <div class="swiper-slide about__slide">
          <img
            src="@img/pictures/about.jpg"
            alt="Изображение"
            width="815"
            height="504"
            class="about__slide-img"
          />
        </div>
        <div class="swiper-slide about__slide">
          <img
            src="@img/pictures/about.jpg"
            alt="Изображение"
            width="815"
            height="504"
            class="about__slide-img"
          />
        </div>
        <div class="swiper-slide about__slide">
          <img
            src="@img/pictures/about.jpg"
            alt="Изображение"
            width="815"
            height="504"
            class="about__slide-img"
          />
        </div>
      </div>
      <button class="btn btn-circle about__slider-btn about__slider-btn--prev">
        <svg class="about__slider-btn-icon">
          <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
        </svg>
      </button>
      <button class="btn btn-circle about__slider-btn about__slider-btn--next">
        <svg class="about__slider-btn-icon">
          <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
