<section class="answers">
  <div class="container answers__container">
    <h2 class="title-2 answers__title">Ответы на вопросы</h2>
    <div data-spollers data-one-spoller class="answers__info">
      <div class="answers__spoller">
        <button data-spoller class="btn answers__spoller-btn">
          <span>Lorem ipsum dolor sit amet consectetur?</span>
          <svg class="answers__spoller-btn-icon">
            <use xlink:href="img/icons/icons.svg#svg-arrow"></use>
          </svg>
        </button>
        <div class="answers__spoller-item">
          <p class="answers__spoller-content">
            Lorem ipsum dolor sit amet consectetur. Velit eget tempor in posuere in pretium nec in
            nullam. Orci egestas est ut imperdiet pharetra dignissim. Lorem ipsum dolor sit amet
            consectetur. Velit eget tempor in posuere in pretium nec in nullam. Orci egestas est ut
            imperdiet pharetra dignissim.
          </p>
        </div>
      </div>
      <div class="answers__spoller">
        <button data-spoller class="btn answers__spoller-btn">
          <span>Lorem ipsum dolor sit amet consectetur?</span>
          <svg class="answers__spoller-btn-icon">
            <use xlink:href="img/icons/icons.svg#svg-arrow"></use>
          </svg>
        </button>
        <div class="answers__spoller-item">
          <p class="answers__spoller-content">
            Lorem ipsum dolor sit amet consectetur. Velit eget tempor in posuere in pretium nec in
            nullam. Orci egestas est ut imperdiet pharetra dignissim. Lorem ipsum dolor sit amet
            consectetur. Velit eget tempor in posuere in pretium nec in nullam. Orci egestas est ut
            imperdiet pharetra dignissim.
          </p>
        </div>
      </div>
      <div class="answers__spoller">
        <button data-spoller class="btn answers__spoller-btn">
          <span>Lorem ipsum dolor sit amet consectetur?</span>
          <svg class="answers__spoller-btn-icon">
            <use xlink:href="img/icons/icons.svg#svg-arrow"></use>
          </svg>
        </button>
        <div class="answers__spoller-item">
          <p class="answers__spoller-content">
            Lorem ipsum dolor sit amet consectetur. Velit eget tempor in posuere in pretium nec in
            nullam. Orci egestas est ut imperdiet pharetra dignissim. Lorem ipsum dolor sit amet
            consectetur. Velit eget tempor in posuere in pretium nec in nullam. Orci egestas est ut
            imperdiet pharetra dignissim.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
