<section class="approach">
  <div class="container approach__container">
    <h2 class="title-2 approach__title">Наш подход</h2>
    <div class="approach__info">
      <svg class="approach__icon">
        <use xlink:href="img/icons/icons.svg#svg-quote"></use>
      </svg>
      <p class="approach__content">
        В нашем центре красоты все процедуры выполняют специалисты высокого уровня с использованием
        современного оборудования, проверенных и инновационных материалов.<br />
        <br />Мы применяем комплексный подход для решения задач наших пациентов в области
        дерматокосметологии, подологии, мануальной терапии, а также эстетическое направление, в
        котором работают стилисты, мастера маникюра, педикюра и перманентного макияжа
      </p>
      <div class="approach__profile">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="128"
          height="128"
          class="approach__profile-avatar"
        />
        <div class="approach__profile-info">
          <h3 class="approach__profile-name">
            Самохина <br />
            Екатерина Валерьевна
          </h3>
          <p class="approach__profile-content">
            Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
