<section class="certificate-form">
  <div class="container container--adaptive certificate-form__container">
    <div class="certificate-form__wrapper">
      <div class="certificate-form__image">
        <img src="@img/pictures/certificate.png" width="376" height="456" alt="Изображение">
      </div>
      <div class="certificate-form__content">
        <h2 class="certificate-form__subtitle">Заказать сертификат</h2>
        <p class="certificate-form__desc">Вы можете приобрести подарочный сертификат на процедуры в нашем центре номиналом от 1 000 до 5 000 рублей. С правилами использования сертификата можно ознакомиться ниже.</p>
        <form action="#" class="form certificate-form__form">
          <div class="certificate-form__form-wrapper">
            <div class="certificate-form__form-item">
              <input type="text" placeholder="Ваше имя" name="name" class="form__input" />
            </div>
            <div class="certificate-form__form-item">
              <input type="tel" placeholder="Телефон" name="tel" class="form__input" />
            </div>
            <div class="certificate-form__form-item">
              <input type="email" placeholder="Email" name="email" class="form__input" />
            </div>
            <button type="submit" class="btn btn-primary certificate-form__form-btn">Отправить</button>
          </div>
          <p class="certificate-form__form-content">
            Нажимая на кнопку “Отправить”, я даю согласие на обработку персональных данных
          </p>
        </form>
      </div>
    </div>
  </div>
</section>