<section class="certificate-desc">
  <div class="container answers__container certificate-desc__wrapper">
    <h3 class="title-2 answers__title certificate-desc__title">ПРАВИЛА ИСПОЛЬЗОВАНИЯ ПОДАРОЧНОГО СЕРТИФИКАТА С ДЕНЕЖНЫМ НОМИНАЛОМ</h3>
    <div class="certificate-desc__content-wrapper">
      <ol class="about__content">
        <li>Подарочный сертификат – документ, подтверждающий внесение денежных средств (депозит) за услуги, предоставляемые Центром красоты Бенуа Медикал Спа (далее – Бенуа Медикал Спа), и дающий право на получение в течение его срока действия в Бенуа Медикал Спа услуги и/или комплекса услуг.</li>
        <li>Приобретение и/или использование Подарочного сертификата Бенуа Медикал Спа означает безусловное согласие его приобретателя/держателя с настоящими правилами.</li>
        <li>Подарочный сертификат, который не является именным может быть передан и использован другими лицам. Именной Подарочный сертификат не может быть передан и использован другими лицами. Для использования именного сертификата Администратор Бенуа Медикал Спа имеет право попросить предъявить документ, удостоверяющий личность.</li>
        <li>Срок действия Подарочного сертификата указан на его внешней стороне. После истечения срока действия Подарочный сертификат считается недействительным и услуги по нему не оказываются.</li>
        <li>Возврат денежных средств, уплаченных за Подарочный сертификат, производится в течение 14 дней с момента его покупки при предъявлении чека.</li>
        <li>Подарочный сертификат является собственностью Бенуа Медикал Спа. Его можно использовать неограниченное количество раз в пределах срока его действия, пока услуги не будут оказаны в объеме или сумме, указанной в Подарочном сертификате. После использования или прекращения действия Подарочный сертификат подлежит возврату в Центр красоты Бенуа Медикал Спа.</li>
        <li>Подарочный сертификат не может быть использован для покупки товаров, абонементов и подарочных карт.</li>
        <li>Утерянный Подарочный сертификат восстановлению не подлежит. В случае возникновения сомнения в подлинности, в т.ч. в результате повреждения, Подарочный сертификат к оплате услуги не принимается.</li>
        <li>
          <p>Держателю Подарочного сертификата необходимо соблюдать следующие правила:</p>
          <ul>
            <li>сообщать должностному лицу Бенуа Медикал Спа об имеющихся у него медицинских противопоказаниях к процедуре, хронических и иных заболеваниях, как непосредственно до начала оказания услуг, так и при предварительной записи;</li>
            <li>соблюдать внутренние и локальные правила Бенуа Медикал Спа, регламентирующие порядок оказания услуг.</li>
          </ul>
        </li>
        <li>На подарочный сертификат, полученный в рамках партнёрских программ и на промо-мероприятиях, распространяются все выше перечисленные правила, за исключением: сертификат не является денежным эквивалентом и не подлежит обмену на денежные средства. Его можно использовать только при единовременном посещении. Неиспользованная сумма сертификата «сгорает». Подарочные сертификаты не суммируются, в течение одного посещения можно использовать один сертификат. Сертификат не действует в периоды: с 10 по 31 декабря и с 1 по 8 марта.</li>
      </ol>
    </div>
  </div>
</section>