<section class="contacts">
  <div class="container">
    <div class="contacts__info">
      <h2 class="title-2 contacts__title">Контакты</h2>
      <ul class="list contacts__list">
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-location"></use>
          </svg>
          <div class="contacts__item-info">
            <p class="contacts__item-content">СПб, Каменноостровский пр. 26-28</p>
            <p class="contacts__item-subcontent">Режим работы 10:00 - 21:00. Ежедневно</p>
          </div>
        </li>
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-phone"></use>
          </svg>
          <div class="contacts__item-info">
            <a href="tel:+79219151442" class="contacts__item-content _btn">+7 (921) 915-14-42</a>
            <a href="tel:+79219151442" class="contacts__item-content _btn">+7 (921) 915-14-42</a>
          </div>
        </li>
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-whats"></use>
          </svg>
          <div class="contacts__item-info">
            <a href="#" class="contacts__item-content _btn">Написать в WhatsApp</a>
          </div>
        </li>
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-mail"></use>
          </svg>
          <div class="contacts__item-info">
            <a href="mailto:info@benuamed.ru" class="contacts__item-content _btn"
              >info@benuamed.ru</a
            >
          </div>
        </li>
      </ul>
      <h3 class="contacts__marketing-title">Маркетинг и реклама</h3>
      <p class="contacts__marketing-content">сотрудничество, кросс-промо, коллаборации</p>
      <ul class="list contacts__list">
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-mail"></use>
          </svg>
          <div class="contacts__item-info">
            <a href="mailto:info@benuamed.ru" class="contacts__item-content _btn"
              >info@benuamed.ru</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="contacts__map"
    id="contacts-map"
    data-center="[55.74215739993869,37.62123469311525]"
    data-zoom="16"
  ></div>
</section>
