<section class="contacts contacts-big">
  <div class="container">
    <h2 class="contacts__title contacts__title--contacts">Контакты</h2>
    <div class="contacts__info contacts__info--contacts">
      <ul class="list contacts__list contacts__list--contacts">
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-location"></use>
          </svg>
          <div class="contacts__item-info">
            <p class="contacts__item-content contacts__item-content--contacts">
              СПб, Каменноостровский пр. 26-28
            </p>
            <p class="contacts__item-subcontent">Режим работы 10:00 - 21:00. Ежедневно</p>
          </div>
        </li>
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-phone"></use>
          </svg>
          <div class="contacts__item-info contacts__item-info-phone--contacts">
            <a href="tel:+7 (812) 458-44-43" class="contacts__item-content _btn"
              >+7 (812) 458-44-43</a
            >
            <a href="tel:+79219151442" class="contacts__item-content _btn">+7 (921) 915-14-42</a>
          </div>
        </li>
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-whats"></use>
          </svg>
          <div class="contacts__item-info">
            <a href="#" class="contacts__item-content _btn">Написать в WhatsApp</a>
          </div>
        </li>
        <li class="contacts__item">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#svg-mail"></use>
          </svg>
          <div class="contacts__item-info">
            <a href="mailto:info@benuamed.ru" class="contacts__item-content _btn"
              >info@benuamed.ru</a
            >
          </div>
        </li>
      </ul>
      <div class="contacts__right">
        <h3 class="contacts__marketing-title contacts__marketing-title--contacts">
          Маркетинг и реклама
        </h3>
        <p class="contacts__marketing-content contacts__marketing-content--contacts">
          сотрудничество, кросс-промо, коллаборации
        </p>
        <ul class="list contacts__list">
          <li class="contacts__item">
            <svg class="contacts__icon">
              <use xlink:href="img/icons/icons.svg#svg-mail"></use>
            </svg>
            <div class="contacts__item-info">
              <a href="mailto:info@benuamed.ru" class="contacts__item-content _btn"
                >info@benuamed.ru</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
