<section class="detail-procedure">
  <div class="container detail-procedure__container">
    <h2 class="title-2 detail-procedure__title">Подробнее о процедуре</h2>
    <div class="detail-procedure__info">
      <h4 class="detail-procedure__info-title">
        Ультразвуковая подтяжка лица (СМАС лифтинг) на аппарате Liftera А — эффективный способ
        безоперационного лифтинга лица.
      </h4>
      <p class="detail-procedure__info-content">
        В основе механизма действия — фокусированный ультразвук, который оказывает интенсивное
        воздействие на глубокие структуры лица (СМАС слой), не повреждая при этом кожный покров, что
        исключает процесс реабилитации. На клеточном уровне происходит стимулирование генерации
        коллагена и эластина, отвечающих за упругость и эластичность кожи, благодаря им мышцы
        подтягиваются, а кожа становится более плотной и упругой. <br />
        <br />
        Первостепенными показаниями для СМАС лифтинга является не возраст, а именно первые признаки
        старения как у женщин, так и мужчин.
      </p>
      <a href="#" class="detail-procedure__btn-more">Читать дальше</a>
    </div>
  </div>
</section>
