<section class="employees specialists">
  <div class="container">
    <h2 class="title-1 employees__title">Наши сотрудники</h2>
    <div class="specialists__header">
      <h2 class="title-2 specialists__title">Специалисты</h2>
    </div>
    <div class="employees__wrapper">
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
    </div>
  </div>
  <div data-modal="employees" class="modal employees__modal">
    <div class="modal__overlay">
      <div class="modal__window">
        hello
        <button class="btn modal__close services-prices__modal-close">
          <svg class="modal__close-icon">
            <use xlink:href="img/icons/icons.svg#svg-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
