<section class="employees specialists">
  <div class="container">
    <h1 class="title-1 employees__title">Наши сотрудники</h1>
    <div class="specialists__header">
      <h2 class="title-2 specialists__title">Специалисты</h2>
    </div>
    <div class="employees__wrapper">
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
      <div class="specialists__slide employees__card">
        <img
          src="@img/pictures/people.jpg"
          alt="Человек"
          width="345"
          height="375"
          class="specialists__slide-img"
        />
        <h3 class="specialists__slide-title">
          Самохина <br />
          Екатерина Валерьевна
        </h3>
        <p class="specialists__slide-content employees__content">
          Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
        </p>
        <button class="btn employees__btn btn-modal" data-modal="employees">подробнее</button>
      </div>
    </div>
  </div>
  <div data-modal="employees" class="modal employees-modal">
    <div class="modal__overlay">
      <div class="modal__window employees-modal__window">
        <button class="btn modal__close employees-modal__close">
          <svg class="modal__close-icon">
            <use xlink:href="img/icons/icons.svg#svg-close"></use>
          </svg>
        </button>
        <div class="employees-modal__top">
          <img
            src="@img/pictures/people.jpg"
            alt="Человек"
            width="120"
            height="120"
            class="employees-modal__img"
          />
          <div class="employees-modal__bio">
            <h3 class="specialists__slide-title employees-modal__title">
              Самохина <br />
              Екатерина Валерьевна
            </h3>
            <p class="specialists__slide-content employees__content employees-modal__text">
              Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
            </p>
          </div>
        </div>
        <div class="employees-modal__wrapper">
          <div class="employees-modal__cart">
            <span class="employees-modal__year">2018 г.</span>
            <p class="employees-modal__desc specialists__slide-content">
              Северо-Западный государственный медицинский университет им. Мечникова. Повышение
              квалификации по программе дополнительного профессионального образования "Организация
              здравоохранения и общественное здоровье";
            </p>
          </div>
          <div class="employees-modal__cart">
            <span class="employees-modal__year">2018 г.</span>
            <p class="employees-modal__desc specialists__slide-content">
              Северо-Западный государственный медицинский университет им. Мечникова. Повышение
              квалификации по программе дополнительного профессионального образования "Организация
              здравоохранения и общественное здоровье";
            </p>
          </div>
          <div class="employees-modal__cart">
            <span class="employees-modal__year">2018 г.</span>
            <p class="employees-modal__desc specialists__slide-content">
              Северо-Западный государственный медицинский университет им. Мечникова. Повышение
              квалификации по программе дополнительного профессионального образования "Организация
              здравоохранения и общественное здоровье";
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
