<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__social">
        <ul class="list footer__social-list">
          <li>
            <a href="#" target="_blank" class="footer__social-btn">
              <svg class="footer__social-icon">
                <use xlink:href="img/icons/icons.svg#svg-tg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="footer__social-btn">
              <svg class="footer__social-icon">
                <use xlink:href="img/icons/icons.svg#svg-vk"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="footer__social-btn">
              <svg class="footer__social-icon">
                <use xlink:href="img/icons/icons.svg#svg-whats"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="footer__social-btn">
              <svg class="footer__social-icon">
                <use xlink:href="img/icons/icons.svg#svg-inst"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__social-content">
          * Meta признана экстремистской организацией и запрещена на территории России
        </p>
      </div>
      <form action="#" class="form footer__form">
        <h4 class="footer__form-title">Подпишитесь на наши новости и специальные предложения</h4>
        <div class="footer__form-wrapper">
          <div class="footer__form-item">
            <input type="text" placeholder="Ваше имя" name="name" class="form__input" />
          </div>
          <div class="footer__form-item">
            <input type="email" placeholder="Email" name="email" class="form__input" />
          </div>
          <button type="submit" class="btn btn-primary footer__form-btn">Подписаться</button>
        </div>
        <p class="footer__form-content">
          Нажимая на кнопку “Подписаться”, я даю согласие на обработку персональных данных
        </p>
      </form>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-content">© «Бенуа Медикал Спа», 2023 год</p>
      <ul class="list footer__bottom-list">
        <li>
          <a href="#" class="footer__bottom-list-btn">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="#" class="footer__bottom-list-btn">Пользовательское соглашение</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
