<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Галерея работ</h2>
  </div>
  <div class="swiper gallery__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery__slide">
        <div class="gallery__slide-images">
          <img
            src="@img/pictures/gallery-1.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
          <img
            src="@img/pictures/gallery-2.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
        </div>
        <p class="gallery__slide-desc">Название процедуры</p>
      </div>
      <div class="swiper-slide gallery__slide">
        <div class="gallery__slide-images">
          <img
            src="@img/pictures/gallery-1.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
          <img
            src="@img/pictures/gallery-2.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
        </div>
        <p class="gallery__slide-desc">Название процедуры</p>
      </div>
      <div class="swiper-slide gallery__slide">
        <div class="gallery__slide-images">
          <img
            src="@img/pictures/gallery-1.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
          <img
            src="@img/pictures/gallery-2.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
        </div>
        <p class="gallery__slide-desc">Название процедуры</p>
      </div>
      <div class="swiper-slide gallery__slide">
        <div class="gallery__slide-images">
          <img
            src="@img/pictures/gallery-1.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
          <img
            src="@img/pictures/gallery-2.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
        </div>
        <p class="gallery__slide-desc">Название процедуры</p>
      </div>
      <div class="swiper-slide gallery__slide">
        <div class="gallery__slide-images">
          <img
            src="@img/pictures/gallery-1.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
          <img
            src="@img/pictures/gallery-2.png"
            alt="Изображение"
            width="404"
            height="404"
            class="gallery__slide-img"
          />
        </div>
        <p class="gallery__slide-desc">Название процедуры</p>
      </div>
    </div>
    <button class="btn btn-circle gallery__slider-btn gallery__slider-btn--prev">
      <svg class="about__slider-btn-icon">
        <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
      </svg>
    </button>
    <button class="btn btn-circle gallery__slider-btn gallery__slider-btn--next">
      <svg class="gallery__slider-btn-icon">
        <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
      </svg>
    </button>
  </div>
</section>