<section class="hero">
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">Современный центр здоровья и красоты на Петроградской стороне</h1>
      <p class="hero__content">
        Бенуа Медикал Спа — центр красоты с большим арсеналом услуг индустрии здоровья
      </p>
      <div class="hero__nav">
        <a href="#record" class="btn-stroke hero__nav-btn">записаться онлайн</a>
        <a href="#" class="btn-stroke hero__nav-btn">Узнать подробнее</a>
      </div>
    </div>
    <video src="./files/hero.mp4" loop autoplay muted class="hero__video"></video>
  </div>
</section>
