<section class="history">
  <div class="container">
    <h2 class="history__title">История</h2>
    <div class="history__wrapper">
      <p class="history__content-main">
        В 1914 году на одном из оживленных проспектов Петроградской стороны был построен самый большой и благоустроенный жилой комплекс в городе — «Дом Трех Бенуа»
      </p>
      <div class="history__content">
        <picture class="history__image">
          <img loading="lazy" src="@img/pictures/history.png" class="history__image" width="712" height="457" alt="Изображение">
        </picture>
        <p class="history__text">
          Здание прописано сразу по трем адресам и занимает едва ли не квартал на Петроградской стороне: Каменноостровский проспект 26-28, улица Кронверкская 29, улица Большая Пушкарская 37. Задумали и осуществили проект три брата-архитектора семейства Бенуа – Леонтий, Юлий и Альберт Бенуа. Именно в их честь знаменитый дом носит название «Дом трех Бенуа» — уникальный жилой комплекс и настоящий городской символ с начала XX века по сегодняшний день.
        </p>
        <p class="history__text">
          Дом выполнен в стиле неоклассицизма: мягкие линии фасадов, облицованные серым камнем, лепной декор, невысокие колоннады и скульптуры, настенные фонари — все это добавляет элегантность строению и одновременно классическую строгость. Парадный двор оформлен двурядной колоннадой из красного гранита,
          а внутренние дворы – типичные питерские дворы-колодцы с закоулками (все корпуса дома – целая система дворов, которых насчитывается более десяти).
        </p>
        <p class="history__text">
          Дом знаменит своими выдающимися жильцами. С самого начала в доме Бенуа жили почетные граждане, потомственные дворяне, чиновники высших классов, а также выдающиеся личности из разных сфер деятельности: композиторы, художники, деятели театра и кино, архитекторы и ученые. Сегодня, помимо квартир, элитных апартаментов, которые соседствуют с коммуналками, есть офисные помещения и еще ряд образовательных и культурных организаций, в том числе — наш центр красоты «Бенуа Медикал Спа» в самом парадном дворе.
        </p>
      </div>
    </div>
  </div>
</section>