<section class="location">
  <div class="container">
    <div class="location__desc">
      <h3 class="location__title">как добраться</h3>
      <ul class="location__list">
        <li>
          <svg class="location__icon" width="16" height="16">
            <use xlink:href="img/icons/icons.svg#svg-location-blue"></use>
          </svg>
          <h4 class="location__list-title">На машине</h4>
          <p class="location__list-desc">
            Двигайтесь по Каменностровскому проспекту в сторону Троицкого моста, проезжаете
            центральный вход с колонами, заезд во двор сразу после цветочного магазина, через два
            двора вы увидите шлагбаум – это въезд на парковку, охрана пропустит вас. Вход в Бенуа
            Медикал Спа со стороны парковки.
          </p>
        </li>
        <li>
          <svg class="location__icon" width="16" height="16">
            <use xlink:href="img/icons/icons.svg#svg-location-red"></use>
          </svg>
          <h4 class="location__list-title">Пешком</h4>
          <p class="location__list-desc">
            Двигайтесь по Каменностровскому проспекту в сторону Троицкого моста, вход в парадный
            двор с колонами.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="location__map"
    id="location-map"
    data-center="[55.74215739993869,37.62123469311525]"
    data-coord="[55.74215739993869,37.62123469311525]"
    data-zoom="16"
  ></div>
</section>
