<section class="partners">
  <div class="container partners__container">
    <h2 class="title-2 partners__title">Наши партнеры</h2>
    <div class="partners__wrapper">
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
      <a href="#" class="partners__btn">
        <img
          src="@img/logos/partner.png"
          alt="Партнёр"
          width="135"
          height="95"
          class="partners__logo"
        />
      </a>
    </div>
  </div>
</section>
