<section class="prices">
  <div class="container prices__container">
    <h2 class="title-2 prices__title">Цены</h2>
    <div class="container-tab prices__info">
      <div class="prices__buttons">
        <button data-tab="name-1" class="btn btn-tab prices__btn active">Имя специалиста</button>
        <button data-tab="name-2" class="btn btn-tab prices__btn">Имя специалиста</button>
      </div>
      <div data-tab="name-1" class="tab prices__tab active">
        <ul class="list">
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
        </ul>
      </div>
      <div data-tab="name-2" class="tab prices__tab">
        <ul class="list">
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
          <li class="prices__item">
            <p class="prices__item-content">
              Lorem ipsum dolor sit amet consectetur. Aliquam elementum cras mauris orci viverra
              odio viverra. Nec elementum cursus.
            </p>
            <span class="prices__price">2500 ₽</span>
          </li>
        </ul>
      </div>
      <a href="#record" class="btn-stroke prices__btn-record">Записаться онлайн</a>
    </div>
  </div>
</section>
