<section class="procedure">
  <div class="container">
    <div class="procedure__item">
      <h1 class="procedure__title">Ультразвуковая подтяжка лица (СМАС лифтинг)</h1>
      <div class="procedure__wrapper">
        <div class="procedure__price-desc">
          <h3 class="title-2 procedure__subtitle">Стоимость</h3>
          <p class="procedure__price">от 20 500 ₽</p>
        </div>
        <div class="procedure__buttons">
          <a href="#record" class="btn-stroke procedure__btn">записаться онлайн</a>
          <a href="#record" class="btn-stroke procedure__btn">посмотреть прайс</a>
        </div>
      </div>
    </div>
    <div class="procedure__item">
      <div class="procedure__about-wrapper">
        <h3 class="title-2 procedure__subtitle">О процедуре</h3>
        <ul class="list procedure__about-list">
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Продолжительность</span>
            <span>от ... минут</span>
          </li>
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Зона</span>
            <span>Периорбитальная зона / лицо / шея / декольте</span>
          </li>
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Показания</span>
            <span>Первые признаки старения у женщин и мужчин</span>
          </li>
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Аппарат</span>
            <span>Liftera-A</span>
          </li>
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Курс</span>
            <span>От 1 процедуры</span>
          </li>
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Эффект</span>
            <ul>
              <li>Кожа подтягивается;</li>
              <li>Появляется более четкий контур лица;</li>
              <li>Мимические морщины и заломы разглаживаются;</li>
              <li>Корректируются последствия фотостарения;</li>
              <li>Поднимаются надбровные дуги, а вместе с ними и веки;</li>
              <li>Уходят мешки под глазами;</li>
              <li>Становятся менее выражены носогубные складки;</li>
              <li>Исчезает второй подбородок;</li>
              <li>Кожа становится более упругой и свежей.</li>
            </ul>
          </li>
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Восстановительный период</span>
            <span>Текст</span>
          </li>
          <li class="procedure__about-item">
            <span class="procedure__about-item-title">Противопоказания</span>
            <span
              >Имеются противопоказания. <br />
              Перед процедурой необходима консультация специалиста.</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="procedure__item">
      <h3 class="title-2 procedure__subtitle">Акция</h3>
      <div class="procedure__stock-wrapper procedure__stock-wrapper-mini">
        <img
          src="@img/pictures/procedure.jpg"
          alt="Изображение"
          width="375"
          height="425"
          class="procedure__img"
        />
        <div class="procedure__stock-info">
          <h2 class="procedure__stock-title">СМАС лифтинг 800 линий — 25 900 ₽ (вместо 49 950₽)</h2>
          <p class="procedure__stock-subtitle">Акция действует до 20.06!</p>
          <p class="procedure__stock-content">Бесплатная консультация и запись по телефону</p>
          <a href="tel:+78124584443" class="procedure__stock-tel">
            <svg class="procedure__stock-tel-icon">
              <use xlink:href="img/icons/icons.svg#svg-phone"></use>
            </svg>
            +7 (812) 458-44-43
          </a>
          <p class="procedure__stock-content">Или оставьте свой номер и мы вам перезвоним</p>
          <form action="#" class="form procedure__form">
            <div class="procedure__form-wrapper">
              <div class="procedure__form-item">
                <input type="text" placeholder="Ваше имя" name="name" class="form__input" />
              </div>
              <div class="procedure__form-item">
                <input type="tel" placeholder="Телефон" name="tel" class="form__input" />
              </div>
              <button type="submit" class="btn btn-primary procedure__form-btn">Отправить</button>
            </div>
            <p class="procedure__form-content">
              Нажимая на кнопку “Отправить”, я даю согласие на обработку персональных данных
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
