<section class="products">
  <div class="container products__container">
    <div class="products__info">
      <h2 class="title-2 products__title">Оборудование</h2>
      <p class="products__content">
        В нашем центре представлено оборудование, имеющее все необходимые сертификаты
      </p>
      <p class="products__subcontent">
        В магазина ассортименте представлены косметические средства и препараты по уходу за лицом,
        телом, волосами, подобранные нашими специалистами.
      </p>
      <a href="#" class="btn-stroke products__btn">Перейти в магазин</a>
    </div>
    <div class="swiper products__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/product.jpg" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title">Лазер Fotona XS Dynamis</h4>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/product.jpg" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title">Лазер Fotona XS Dynamis</h4>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/product.jpg" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title">Лазер Fotona XS Dynamis</h4>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/product.jpg" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title">Лазер Fotona XS Dynamis</h4>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/product.jpg" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title">Лазер Fotona XS Dynamis</h4>
        </div>
      </div>
      <div class="slider-scrollbar products__scrollbar"></div>
    </div>
  </div>
</section>
