<section class="products">
  <div class="container products__container">
    <div class="products__info">
      <h2 class="title-2 products__title">Benuashop</h2>
      <p class="products__content">
        Benuashop — это логичное продолжение истории Бенуа Медикал Спа
      </p>
      <p class="products__subcontent">
        В магазина ассортименте представлены косметические средства и препараты по уходу за лицом,
        телом, волосами, подобранные нашими специалистами.
      </p>
      <a href="#" class="btn-stroke products__btn">Перейти в магазин</a>
    </div>
    <div class="swiper products__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/obagi.png" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title products__slide-title--small">OBAGI</h4>
          <p class="products__slide-desc">
            основа под макияж с солнцезащитным экраном spf 30 zo skin health sunscreen+primer spf 30
          </p>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/obagi.png" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title products__slide-title--small">OBAGI</h4>
          <p class="products__slide-desc">
            основа под макияж с солнцезащитным экраном spf 30 zo skin health sunscreen+primer spf 30
          </p>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/obagi.png" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title products__slide-title--small">OBAGI</h4>
          <p class="products__slide-desc">
            основа под макияж с солнцезащитным экраном spf 30 zo skin health sunscreen+primer spf 30
          </p>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/obagi.png" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title products__slide-title--small">OBAGI</h4>
          <p class="products__slide-desc">
            основа под макияж с солнцезащитным экраном spf 30 zo skin health sunscreen+primer spf 30
          </p>
        </div>
        <div class="swiper-slide products__slide">
          <img src="@img/pictures/obagi.png" alt="Продукт" class="products__slide-img" />
          <h4 class="products__slide-title products__slide-title--small">OBAGI</h4>
          <p class="products__slide-desc">
            основа под макияж с солнцезащитным экраном spf 30 zo skin health sunscreen+primer spf 30
          </p>
        </div>
      </div>
      <div class="slider-scrollbar products__scrollbar"></div>
    </div>
  </div>
</section>
