<section class="record" id="record">
  <div class="container">
    <div class="record__body">
      <img
        src="@img/pictures/record.jpg"
        alt="Изображение"
        width="1230"
        height="400"
        class="record__bg"
      />
      <h2 class="title-2 record__title">Записаться на приём</h2>
      <div class="record__info">
        <p class="record__content">
          Если вы планируете свой первый визит в Бенуа Медикал Спа, наши менеджеры с удовольствием
          помогут вам подобрать подходящие процедуры или специалиста
        </p>
        <p class="record__subcontent">Выберите удобный для вас способ связи:</p>
        <div class="record__buttons">
          <a href="#" class="btn-stroke record__btn">ЧАТ WHATSAPP</a>
          <a href="tel:89219151442" class="btn-stroke record__btn">По телефону</a>
        </div>
      </div>
    </div>
  </div>
</section>
