<section class="requisites">
  <div class="container requisites__container">
    <div class="requisites__desc">
      <h2 class="requisites__title">реквизиты</h2>
      <h3 class="requisites__subtitle">ОOO «БЕНУА»</h3>
      <div class="requisites__info">
        <div class="requisites__info-item">
          <p>Фактический и юридический адрес:</p>
          <p>Санкт-Петербург, 197101, пр. Каменноостровский, д. 26-28, лит. А, пом. 5Н</p>
        </div>
        <div class="requisites__info-item">
          <p>ИНН 7813500845</p>
          <p>КПП 78130100</p>
          <p>ОГРН 1117847167316</p>
        </div>
      </div>
    </div>
    <div class="requisites__content">
      <div class="requisites__item">
        <img src="@img/pictures/requisites-1.png" width="230" height="350" alt="Лицензия" />
      </div>
      <div class="requisites__item">
        <img src="@img/pictures/requisites-2.png" width="230" height="350" alt="Лицензия" />
      </div>
      <div class="requisites__item">
        <img src="@img/pictures/requisites-3.png" width="230" height="350" alt="Лицензия" />
      </div>
    </div>
  </div>
</section>
