<div class="reviews">
  <div class="container">
    <div class="reviews__header">
      <h2 class="title-2 reviews__title">Отзывы</h2>
      <button class="btn reviews__slider-btn reviews__slider-btn--next">
        <svg class="reviews__slider-btn-icon">
          <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
        </svg>
      </button>
    </div>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <h3 class="reviews__slide-title">Анастасия</h3>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="swiper-slide reviews__slide">
          <h3 class="reviews__slide-title">Анастасия</h3>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="swiper-slide reviews__slide">
          <h3 class="reviews__slide-title">Анастасия</h3>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="swiper-slide reviews__slide">
          <h3 class="reviews__slide-title">Анастасия</h3>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="swiper-slide reviews__slide">
          <h3 class="reviews__slide-title">Анастасия</h3>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
      </div>
    </div>
  </div>
</div>
