<section class="reviews-page">
  <div class="container">
    <h1 class="title-1 reviews-page__title">Отзывы</h1>
    <div class="reviews-page__container">
      <div class="reviews-page__wrapper reviews">
        <div class="reviews__slide">
          <h2 class="reviews__slide-title">Анастасия</h2>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="reviews__slide">
          <h2 class="reviews__slide-title">Анастасия</h2>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="reviews__slide">
          <h2 class="reviews__slide-title">Анастасия</h2>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="reviews__slide">
          <h2 class="reviews__slide-title">Анастасия</h2>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="reviews__slide">
          <h2 class="reviews__slide-title">Анастасия</h2>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
        <div class="reviews__slide">
          <h2 class="reviews__slide-title">Анастасия</h2>
          <p class="reviews__slide-subtitle">о визите к <a href="#">Анне Скрипиной</a></p>
          <p class="reviews__slide-content overflow-text">
            Благодарю доктора за качественную, добросовестную работу. Мягкие руки, спокойное
            обращение с пациентом способны творить чудеса! Процедура по удалению папиллом прошла без
            напряжения. Была очищена вся шея. Теперь можно носить открытые наряды! Безмерная
            благодарность доктору ещё раз.
          </p>
          <span class="reviews__date">21 июля 2022</span>
        </div>
      </div>
      <button class="reviews-page__btn">Показать остальные отзывы</button>
    </div>
  </div>
</section>
