<section class="services">
  <div class="container">
    <h2 class="title-2 services__title">Наши услуги</h2>
    <div class="services__wrapper">
      <img
        src="@img/pictures/services-0.jpg"
        data-img="services-0"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img active"
      />
      <img
        src="@img/pictures/services-1.jpg"
        data-img="services-1"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-2.jpg"
        data-img="services-2"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-3.jpg"
        data-img="services-3"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-4.jpg"
        data-img="services-4"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-5.jpg"
        data-img="services-5"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-6.jpg"
        data-img="services-6"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-7.jpg"
        data-img="services-7"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-8.jpg"
        data-img="services-8"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-9.jpg"
        data-img="services-9"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <img
        src="@img/pictures/services-10.jpg"
        data-img="services-10"
        alt="Изображение"
        width="415"
        height="590"
        class="services__img"
      />
      <div class="services__right">
        <ul class="list services__list">
          <li data-img="services-1" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Эстетическая косметология</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-2" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Аппаратная косметология</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-3" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Инъекционная косметология</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-4" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Лазерная эпиляция</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-5" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Удаление сосудов и новообразований</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-6" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Эстетика тела</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-7" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Стоунтерапия</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-8" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Медицинский педикюр</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-9" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Эстетика: волосы, брови и ресницы</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
          <li data-img="services-10" class="item-hover-img services__item">
            <a href="#" class="services__btn">
              <span>Ногтевой сервис</span>
              <svg class="services__btn-icon">
                <use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="#" class="btn-stroke services__btn-bottom">Все услуги центра</a>
      </div>
    </div>
  </div>
</section>
