<section class="special-offers">
  <div class="container">
    <h1 class="special-offers__title">Специальные предложения</h1>
  </div>
  <div class="container container--adaptive">
    <div class="special-offers__content">
      <div class="special-offers__block">
        <div class="special-offers__wrapper">
          <h2 class="special-offers__subtitle">СКИДКА 10% ПРИ ПОКУПКЕ 10 ПРОЦЕДУР</h2>
          <div class="special-offers__desc">
            <h3 class="special-offers__list-title">ПРАВИЛА ИСПОЛЬЗОВАНИЯ СКИДКИ:</h3>
            <ol class="special-offers__list">
              <li>
                Скидка – 10% действует на все услуги для регулярного ухода за лицом и телом: услуги
                парикмахерского зала, маникюр и педикюр, все виды массажа лица и тела, аппартные
                методики по телу, уходовые процедуры у косметолога-эстетиста, спа-программы и
                программы для похудения.
              </li>
              <li>Предоставляемая скидка действует только при покупке от 10 процедур.</li>
              <li>
                Скидка не распространяется на аппартную косметологию по уходу за лицом, на
                инъекционную косметологию, мануальную терапию, услуги специалистов перманентного
                макияжа.
              </li>
              <li>Скидка не суммируется с другими акциями.</li>
            </ol>
            <div class="phone">
              <p class="phone__desc">Бесплатная консультация и запись по телефону</p>
              <div class="phone__contacts">
                <svg class="phone__icon" width="24" height="24">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                <a href="+7 (812) 458-44-43" class="phone__link">+7 (812) 458-44-43</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="special-offers__block">
        <div class="special-offers__wrapper">
          <h2 class="special-offers__subtitle">СКИДКА 10% НА ПЕРВУЮ ПРОЦЕДУРУ ЛАЗЕРНОЙ ЭПИЛЯЦИИ</h2>
          <div class="special-offers__desc">
            <h3 class="special-offers__list-title">ПРАВИЛА ИСПОЛЬЗОВАНИЯ СКИДКИ:</h3>
            <ol class="special-offers__list">
              <li>
                Скидка – 10% действует на все услуги лазерной эпиляции Центра красоты «Бенуа Медикал
                Спа» (далее – Бенуа Медикал Спа).
              </li>
              <li>
                Предоставляемая скидка действует только на первую процедуру лазерной эпиляции.
              </li>
              <li>На услуги лазерной эпиляции по акции данная скидка не распространяется.</li>
            </ol>
            <p class="special-offers__text">Бесплатная консультация и запись по телефону</p>
            <div class="phone">
              <p class="phone__desc">Бесплатная консультация и запись по телефону</p>
              <div class="phone__contacts">
                <svg class="phone__icon" width="24" height="24">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                <a href="+7 (812) 458-44-43" class="phone__link">+7 (812) 458-44-43</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="special-offers__block">
        <div class="special-offers__wrapper">
          <h2 class="special-offers__subtitle">
            СКИДКА 10% ПРИ ПОКУПКЕ АБОНЕМЕНТА НА КУРС ЛАЗЕРНОЙ ЭПИЛЯЦИИ (6 СЕАНСОВ)
          </h2>
          <div class="special-offers__desc">
            <h3 class="special-offers__list-title">ПРАВИЛА ИСПОЛЬЗОВАНИЯ СКИДКИ:</h3>
            <ol class="special-offers__list">
              <li>
                Скидка – 10% действует на все услуги для регулярного ухода за лицом и телом: услуги
                парикмахерского зала, маникюр и педикюр, все виды массажа лица и тела, аппартные
                методики по телу, уходовые процедуры у косметолога-эстетиста, спа-программы и
                программы для похудения.
              </li>
              <li>Предоставляемая скидка действует только при покупке от 10 процедур.</li>
              <li>
                Скидка не распространяется на аппартную косметологию по уходу за лицом, на
                инъекционную косметологию, мануальную терапию, услуги специалистов перманентного
                макияжа.
              </li>
              <li>Скидка не суммируется с другими акциями.</li>
            </ol>
            <div class="phone">
              <p class="phone__desc">Бесплатная консультация и запись по телефону</p>
              <div class="phone__contacts">
                <svg class="phone__icon" width="24" height="24">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                <a href="+7 (812) 458-44-43" class="phone__link">+7 (812) 458-44-43</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="special-offers__block">
        <div class="special-offers__wrapper">
          <h2 class="special-offers__subtitle">СКИДКА 15% НА ДЕНЬ РОЖДЕНИЯ</h2>
          <div class="special-offers__desc">
            <h3 class="special-offers__list-title">
              ПРАВИЛА ИСПОЛЬЗОВАНИЯ СКИДКИ НА ДЕНЬ РОЖДЕНИЯ:
            </h3>
            <ol class="special-offers__list">
              <li>
                Скидка – 15% действует в течение 10 дней со дня рождения на услуги Центра красоты
                «Бенуа Медикал Спа» (далее – Бенуа Медикал Спа).
              </li>
              <li>
                Предоставляемая скидка не может быть использована для покупки товаров, абонементов и
                подарочных карт, а также не действует на услуги мануальной терапии и на инъекционную
                косметологию.
              </li>
              <li>
                Для использования скидки, Администратор Бенуа Медикал Спа имеет право попросить
                предъявить документ, удостоверяющий личность. Данную скидку можно использовать один
                раз в пределах срока ее действия.
              </li>
            </ol>
            <div class="phone">
              <p class="phone__desc">Бесплатная консультация и запись по телефону</p>
              <div class="phone__contacts">
                <svg class="phone__icon" width="24" height="24">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                <a href="+7 (812) 458-44-43" class="phone__link">+7 (812) 458-44-43</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="special-offers__block">
        <div class="special-offers__wrapper">
          <h2 class="special-offers__subtitle">СКИДКА 10% СТУДЕНТАМ</h2>
          <div class="special-offers__desc">
            <h3 class="special-offers__list-title">ПРАВИЛА ИСПОЛЬЗОВАНИЯ СКИДКИ ДЛЯ СТУДЕНТА:</h3>
            <ol class="special-offers__list">
              <li>
                Скидка – 10% действует на все услуги Центра красоты Бенуа Медикал Спа (далее – Бенуа
                Медикал Спа).
              </li>
              <li>
                Предоставляемая скидка не может быть использована для покупки товаров, абонементов и
                подарочных карт, а также не действует на услуги мануальной терапии и на инъекционную
                косметологию.
              </li>
              <li>
                Для использования скидки, Администратор Бенуа Медикал Спа имеет право попросить
                предъявить документ, удостоверяющий личность и студенческий билет.
              </li>
            </ol>
            <div class="phone">
              <p class="phone__desc">Бесплатная консультация и запись по телефону</p>
              <div class="phone__contacts">
                <svg class="phone__icon" width="24" height="24">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>

                <a href="+7 (812) 458-44-43" class="phone__link">+7 (812) 458-44-43</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
