<section class="specialists">
  <div class="container">
    <div class="specialists__header">
      <h2 class="title-2 specialists__title">Специалисты</h2>
      <p class="specialists__content">
        В нашем центре работают квалифицированные специалисты, которые помогут вам сохранить
        здоровье и красоту
      </p>
    </div>
    <div class="swiper specialists__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide specialists__slide">
          <img
            src="@img/pictures/people.jpg"
            alt="Человек"
            width="345"
            height="375"
            class="specialists__slide-img"
          />
          <h3 class="specialists__slide-title">
            Самохина <br />
            Екатерина Валерьевна
          </h3>
          <p class="specialists__slide-content">
            Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
          </p>
        </div>
        <div class="swiper-slide specialists__slide">
          <img
            src="@img/pictures/people.jpg"
            alt="Человек"
            width="345"
            height="375"
            class="specialists__slide-img"
          />
          <h3 class="specialists__slide-title">
            Самохина <br />
            Екатерина Валерьевна
          </h3>
          <p class="specialists__slide-content">
            Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
          </p>
        </div>
        <div class="swiper-slide specialists__slide">
          <img
            src="@img/pictures/people.jpg"
            alt="Человек"
            width="345"
            height="375"
            class="specialists__slide-img"
          />
          <h3 class="specialists__slide-title">
            Самохина <br />
            Екатерина Валерьевна
          </h3>
          <p class="specialists__slide-content">
            Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
          </p>
        </div>
        <div class="swiper-slide specialists__slide">
          <img
            src="@img/pictures/people.jpg"
            alt="Человек"
            width="345"
            height="375"
            class="specialists__slide-img"
          />
          <h3 class="specialists__slide-title">
            Самохина <br />
            Екатерина Валерьевна
          </h3>
          <p class="specialists__slide-content">
            Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
          </p>
        </div>
        <div class="swiper-slide specialists__slide">
          <img
            src="@img/pictures/people.jpg"
            alt="Человек"
            width="345"
            height="375"
            class="specialists__slide-img"
          />
          <h3 class="specialists__slide-title">
            Самохина <br />
            Екатерина Валерьевна
          </h3>
          <p class="specialists__slide-content">
            Главный врач, врач-хирург высшей категории, врач-косметолог, врач лазерной медицины
          </p>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar specialists__slider-scrollbar"></div>
  </div>
</section>
