<section class="stocks-page">
  <div class="container">
    <h1 class="title-1 stocks-page__title">Акции</h1>
    <div class="stocks-page__wrapper procedure">
      <div class="procedure__item">
        <div class="procedure__stock-wrapper">
          <img
            src="@img/pictures/procedure.jpg"
            alt="Изображение"
            width="375"
            height="425"
            class="procedure__img"
          />
          <div class="procedure__stock-info">
            <div>
              <h2 class="procedure__stock-title">
                СМАС лифтинг 800 линий — 25 900 ₽ (вместо 49 950₽)
              </h2>
              <p class="procedure__stock-subtitle">Акция действует до 20.06!</p>
            </div>

            <div class="stocks-page__bottom">
              <p class="procedure__stock-content">Бесплатная консультация и запись по телефону</p>
              <a href="tel:+78124584443" class="procedure__stock-tel">
                <svg class="procedure__stock-tel-icon">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                +7 (812) 458-44-43
              </a>
              <div class="form procedure__form">
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  записаться онлайн
                </button>
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  подробнее о процедуре
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="procedure__item">
        <div class="procedure__stock-wrapper">
          <img
            src="@img/pictures/procedure.jpg"
            alt="Изображение"
            width="375"
            height="425"
            class="procedure__img"
          />
          <div class="procedure__stock-info">
            <div>
              <h2 class="procedure__stock-title">
                СМАС лифтинг 800 линий — 25 900 ₽ (вместо 49 950₽)
              </h2>
              <p class="procedure__stock-subtitle">Акция действует до 20.06!</p>
            </div>

            <div class="stocks-page__bottom">
              <p class="procedure__stock-content">Бесплатная консультация и запись по телефону</p>
              <a href="tel:+78124584443" class="procedure__stock-tel">
                <svg class="procedure__stock-tel-icon">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                +7 (812) 458-44-43
              </a>
              <div class="form procedure__form">
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  записаться онлайн
                </button>
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  подробнее о процедуре
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="procedure__item">
        <div class="procedure__stock-wrapper">
          <img
            src="@img/pictures/procedure.jpg"
            alt="Изображение"
            width="375"
            height="425"
            class="procedure__img"
          />
          <div class="procedure__stock-info">
            <div>
              <h2 class="procedure__stock-title">
                СМАС лифтинг 800 линий — 25 900 ₽ (вместо 49 950₽)
              </h2>
              <p class="procedure__stock-subtitle">Акция действует до 20.06!</p>
            </div>

            <div class="stocks-page__bottom">
              <p class="procedure__stock-content">Бесплатная консультация и запись по телефону</p>
              <a href="tel:+78124584443" class="procedure__stock-tel">
                <svg class="procedure__stock-tel-icon">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                +7 (812) 458-44-43
              </a>
              <div class="form procedure__form">
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  записаться онлайн
                </button>
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  подробнее о процедуре
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="procedure__item">
        <div class="procedure__stock-wrapper">
          <img
            src="@img/pictures/procedure.jpg"
            alt="Изображение"
            width="375"
            height="425"
            class="procedure__img"
          />
          <div class="procedure__stock-info">
            <div>
              <h2 class="procedure__stock-title">
                СМАС лифтинг 800 линий — 25 900 ₽ (вместо 49 950₽)
              </h2>
              <p class="procedure__stock-subtitle">Акция действует до 20.06!</p>
            </div>

            <div class="stocks-page__bottom">
              <p class="procedure__stock-content">Бесплатная консультация и запись по телефону</p>
              <a href="tel:+78124584443" class="procedure__stock-tel">
                <svg class="procedure__stock-tel-icon">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                +7 (812) 458-44-43
              </a>
              <div class="form procedure__form">
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  записаться онлайн
                </button>
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  подробнее о процедуре
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="procedure__item">
        <div class="procedure__stock-wrapper">
          <img
            src="@img/pictures/procedure.jpg"
            alt="Изображение"
            width="375"
            height="425"
            class="procedure__img"
          />
          <div class="procedure__stock-info">
            <div>
              <h2 class="procedure__stock-title">
                СМАС лифтинг 800 линий — 25 900 ₽ (вместо 49 950₽)
              </h2>
              <p class="procedure__stock-subtitle">Акция действует до 20.06!</p>
            </div>

            <div class="stocks-page__bottom">
              <p class="procedure__stock-content">Бесплатная консультация и запись по телефону</p>
              <a href="tel:+78124584443" class="procedure__stock-tel">
                <svg class="procedure__stock-tel-icon">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                +7 (812) 458-44-43
              </a>
              <div class="form procedure__form">
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  записаться онлайн
                </button>
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  подробнее о процедуре
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="procedure__item">
        <div class="procedure__stock-wrapper">
          <img
            src="@img/pictures/procedure.jpg"
            alt="Изображение"
            width="375"
            height="425"
            class="procedure__img"
          />
          <div class="procedure__stock-info">
            <div>
              <h2 class="procedure__stock-title">
                СМАС лифтинг 800 линий — 25 900 ₽ (вместо 49 950₽)
              </h2>
              <p class="procedure__stock-subtitle">Акция действует до 20.06!</p>
            </div>

            <div class="stocks-page__bottom">
              <p class="procedure__stock-content">Бесплатная консультация и запись по телефону</p>
              <a href="tel:+78124584443" class="procedure__stock-tel">
                <svg class="procedure__stock-tel-icon">
                  <use xlink:href="img/icons/icons.svg#svg-phone"></use>
                </svg>
                +7 (812) 458-44-43
              </a>
              <div class="form procedure__form">
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  записаться онлайн
                </button>
                <button type="submit" class="btn btn-stroke procedure__form-btn">
                  подробнее о процедуре
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
