<section class="we-use">
  <div class="container">
    <h2 class="title-2 we-use__title">что мы используем</h2>
    <div class="we-use__wrapper">
      <p class="we-use__content">
        Наши специалисты используют в работе только проверенные марки, отвечающие косметологическим
        и медицинским стандартам. Все средства для процедур подбираются индивидуально.
      </p>
      <div class="we-use__gallery">
        <img
          src="@img/pictures/product.jpg"
          alt="Изображение"
          width="225"
          height="135"
          class="we-use__gallery-img"
        />
        <img
          src="@img/pictures/product.jpg"
          alt="Изображение"
          width="225"
          height="135"
          class="we-use__gallery-img"
        />
        <img
          src="@img/pictures/product.jpg"
          alt="Изображение"
          width="225"
          height="135"
          class="we-use__gallery-img"
        />
        <img
          src="@img/pictures/product.jpg"
          alt="Изображение"
          width="225"
          height="135"
          class="we-use__gallery-img"
        />
        <img
          src="@img/pictures/product.jpg"
          alt="Изображение"
          width="225"
          height="135"
          class="we-use__gallery-img"
        />
        <img
          src="@img/pictures/product.jpg"
          alt="Изображение"
          width="225"
          height="135"
          class="we-use__gallery-img"
        />
      </div>
    </div>
  </div>
</section>
