<section class="work">
  <div class="container">
    <h2 class="work__title">Работа у нас</h2>
    <div class="answers__container work__content">
      <h3 class="title-2 answers__title work__subtitle">стать частью команды</h3>
      <div class="work__content-wrapper">
        <p class="about__content-main work__content-main">
          Если вы стремитесь построить карьеру в индустрии красоты или вы уже имеете опыт работы и любите свою профессию — присылайте свое резюме на <a class="work__link" href="#">pr@benuamed.ru</a>
        </p>
        <p class="about__content work__desc">
          Бенуа Медикал Спа — центр красоты с большим арсеналом услуг индустрии здоровья и красоты: эстетическая и медицинская косметология, уникальные методики массажа, спа-терапия, лазерная эпиляция и омоложение, перманентный макияж, парикмахерские услуги, ногтевой сервис, макияж, наращивание ресниц и архитектура бровей.
        </p>
      </div>
    </div>
  </div>
  <div class="work__wrapper">
    <div class="container answers__container ">
      <h3 class="title-2 answers__title">вакансии</h3>
      <div data-spollers data-one-spoller class="answers__info">
        <div class="answers__spoller">
          <button data-spoller class="btn answers__spoller-btn">
            <span>Контент-менеджер</span>
            <svg class="answers__spoller-btn-icon">
              <use xlink:href="img/icons/icons.svg#svg-arrow"></use>
            </svg>
          </button>
          <div class="answers__spoller-item">
            <div class="answers__spoller-content work__spoller-content">
              <p>
                Ищем в нашу команду контент-менеджера, ответственного, амбициозного и влюбленного в свою работу.
              </p>
              <p>
                Обязанности:
              </p>
              <ul>
                <li>Подготовка и публикация контента в социальных сетях центра (Инстаграм, Телеграм-канал, ВКонтакте): создание контент-плана, написание и оформление постов;</li>
                <li>Съемка процедур и косметических средств в центре, монтирование видео и обработка фотографии, общение в Direct, анализ эффективности рекламных компаний.</li>
                <li>Активное участие в продвижении бренда Бенуа Медикал Спа.</li>
              </ul>
              <p>
                Требования:
              </p>
              <ul>
                <li>Опыт в бьюти-индустрии и медицине будет преимуществом, </li>
                <li>Грамотный русский язык</li>
                <li>Опыт работы в SMM от 2-х лет</li>
                <li>Наличие успешных кейсов</li>
                <li>Умение снимать фото и видео на телефон, знание современных инструментов продвижения.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="answers__spoller">
          <button data-spoller class="btn answers__spoller-btn">
            <span>Врач-дерматолог, косметолог</span>
            <svg class="answers__spoller-btn-icon">
              <use xlink:href="img/icons/icons.svg#svg-arrow"></use>
            </svg>
          </button>
          <div class="answers__spoller-item">
            <p class="answers__spoller-content">
              Lorem ipsum dolor sit amet consectetur. Velit eget tempor in posuere in pretium nec in
              nullam. Orci egestas est ut imperdiet pharetra dignissim. Lorem ipsum dolor sit amet
              consectetur. Velit eget tempor in posuere in pretium nec in nullam. Orci egestas est ut
              imperdiet pharetra dignissim.
            </p>
          </div>
        </div>
        <div class="answers__spoller">
          <button data-spoller class="btn answers__spoller-btn">
            <span>Парикмахер-стилист</span>
            <svg class="answers__spoller-btn-icon">
              <use xlink:href="img/icons/icons.svg#svg-arrow"></use>
            </svg>
          </button>
          <div class="answers__spoller-item">
            <p class="answers__spoller-content">
              Lorem ipsum dolor sit amet consectetur. Velit eget tempor in posuere in pretium nec in
              nullam. Orci egestas est ut imperdiet pharetra dignissim. Lorem ipsum dolor sit amet
              consectetur. Velit eget tempor in posuere in pretium nec in nullam. Orci egestas est ut
              imperdiet pharetra dignissim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>